/* color palette from <https://github.com/vuejs/theme> */
:root {
  --theme-color-dark: #111828;
  --theme-color-dark-blue: #152034;
  --theme-color-dark-gray: #8ea1c6;
  --theme-color-blue: #2564e5;
  --theme-color-light-blue: #5990ff;
  --theme-color-gray: #adb7ca;
  --theme-color-white: #fcfeff;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--theme-color-dark);
  --color-text: var(--theme-color-white);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--theme-color-blue) var(--theme-color-dark);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--theme-color-dark);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--theme-color-blue);
  border-radius: 10px;
  border: 3px solid var(--theme-color-dark);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--theme-color-light-blue);
}
